<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mulching a Agriculture Category Bootstrap Responsive web Template|Gallery :: w3layouts</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Mulching Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
      Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <!-- 设置 Cache -->
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control"
          content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Cache" content="no-cache"/>
    <!-- 引入 jquery js -->
    <!-- 引入 echarts js -->
    <script type="text/javascript" src="js/echarts.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript"
            src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
    <script type="text/javascript"
            src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
    <script type="text/javascript"
            src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
    <script type="text/javascript"
            src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript"
            src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript"
            src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script src="js/jquery.min.js"></script>

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <!-- Web-Fonts -->
    <!-- //Web-Fonts -->

</head>
<body>
<!--headder-->
<div class="header-outs inner_page-banner " id="home">
    <div class="headder-top">
        <!--//navigation section -->
        <!-- nav -->
        <nav >
            <div id="logo">
                <h1><a href="/jump">Health</a></h1>
            </div>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li class="active"><a th:href="@{/jump}">主页</a></li>
                <li class="active"><a th:href="@{/datashowResultToEcharts}">在线定制</a></li>
                <!--<li class="mx-lg-3 mx-md-2 my-md-0 my-1"><a href="about.html">About</a></li>-->
                <!--<li><a href="service.html">Services</a></li>-->
                <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
                    <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle toogle-2">个人健康水平<span class="fa fa-angle-down" aria-hidden="true"></span>
                    </label>
                    <a href="#">健康 <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul>
                        <li><a href="/nutrientintakedatashow" class="drop-text">居民每日营养摄取概况</a></li>
                        <li><a href="/datashowMyPie" class="drop-text">居民营养摄取来源</a></li>
                        <li><a href="/diseasecausesdatashow" class="drop-text">居民主要疾病</a></li>
                    </ul>
                </li>
                <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
                    <!-- First Tier Drop Down -->
                    <label for="drop-3" class="toggle toogle-2">医疗保障 <span class="fa fa-angle-down" aria-hidden="true"></span>
                    </label>
                    <a href="#">医疗保障 <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-3">
                    <ul>
                        <li><a href="/datashowMedicalInstitution" class="drop-text">卫生机构数量</a></li>
                        <li><a href="/medicalexpendituredatashow" class="drop-text">居民医疗支出</a></li>
                        <li><a href="/showdatapatientnum" class="drop-text">居民患者数统计</a></li>
                        <li><a href="/showdatamedicalbeds" class="drop-text">医疗卫生机构床位数统计</a></li>
                    </ul>
                </li>
                <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
                    <!-- First Tier Drop Down -->
                    <label for="drop-4" class="toggle toogle-2">全国健康水平 <span class="fa fa-angle-down" aria-hidden="true"></span>
                    </label>
                    <a href="#">全国健康水平 <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-4">
                    <ul>
                        <li><a href="/datashowExpectedLifeMap" class="drop-text">全国预期寿命</a></li>
                        <li><a href="/datashowPopulation" class="drop-text">人口增长</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/jumplogin}" th:style="'color:white'" th:unless="${session.user}" th:text="'Login / Register'">Login / Register</a>
                    <a th:if="${session.user}" th:style="'color:white'" th:text="${session.user.name}+' Hello!'" th:href="@{/userInfo_info}">Login / Register</a>
                    <a th:href="@{/Logout}" th:if="${session.user}" th:style="'color:white'" th:text="'Log out !'">Login / Register</a>
                </li>
            </ul>
        </nav>
        <!-- //nav -->
    </div>
</div>
<!-- //Navigation -->
<!--//headder-->
<!-- short -->
<div class="using-border py-3">
    <div class="inner_breadcrumb  ml-4">
        <ul class="short_ls">
            <li>
                <a href="/jump">主页</a>
                <span>/ /</span>
            </li>
            <li>医疗卫生机构床位数统计</li>
        </ul>
    </div>
</div>
<!-- //short-->
<!--Gallery-->
<section class="gallery py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title mb-lg-5 mb-md-4 mb-sm-4 mb-3 text-center"> 医疗卫生机构床位数 统计</h3>

        <div class="row" style="overflow: hidden;margin: 0;">
            <div class="container-fluid" style="padding:0;margin-left:50px ">
                <div id="chart1"
                     style="left:0;width: 800px; height:600px;margin-bottom: 20px;float:left;margin-left:110px"></div>
            </div>
        </div>

        <div class="row" style="overflow: hidden;margin: 0;">
            <div class="container-fluid" style="padding:0;margin-bottom:20px;margin-left: 50px ">
                <div id="chart2"
                     style="left:0;width: 1000px; height: 800px; margin-bottom: 20px;float:left;margin-left:0px"></div>
            </div>
        </div>
    </div>




  </section>
<!--//Gallery-->
<!-- footer -->
<footer class="py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <div class="footer-w3layouts-head text-center">
            <h2><a href="index.html">Health</a></h2>
        </div>
        <div class="social-icons mt-lg-5 mt-md-4 mt-3 text-center">
            <ul>
                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#"><span class="fa fa-rss"></span></a></li>
                <li><a href="#"><span class="fa fa-envelope"></span></a></li>
                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
        </div>
        <div class="bottem-wthree-footer text-center pt-md-4 pt-3">
            <p>
                © 2019 Health. All Rights Reserved | Design by <a href="" target="_blank">Our Team</a>
            </p>
        </div>
        <!-- move icon -->
        <div class="text-center">
            <a href="#home" class="move-top text-center mt-3"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        </div>
        <!--//move icon -->
    </div>
</footer>
<!--//footer -->
<script type="text/javascript">
    function loadLocalDataAndShow1() {
        var myChart = echarts.init(document.getElementById('chart1'));
        var posList = [
            'left', 'right', 'top', 'bottom',
            'inside',
            'insideTop', 'insideLeft', 'insideRight', 'insideBottom',
            'insideTopLeft', 'insideTopRight', 'insideBottomLeft', 'insideBottomRight'
        ];
        var app = {};
        app.configParameters = {
            rotate: {
                min: -90,
                max: 90
            },
            align: {
                options: {
                    left: 'left',
                    center: 'center',
                    right: 'right'
                }
            },
            verticalAlign: {
                options: {
                    top: 'top',
                    middle: 'middle',
                    bottom: 'bottom'
                }
            },
            position: {
                options: echarts.util.reduce(posList, function (map, pos) {
                    map[pos] = pos;
                    return map;
                }, {})
            },
            distance: {
                min: 0,
                max: 100
            }
        };

        app.config = {
            rotate: 90,
            align: 'left',
            verticalAlign: 'middle',
            position: 'insideBottom',
            distance: 15,
            onChange: function () {
                var labelOption = {
                    normal: {
                        rotate: app.config.rotate,
                        align: app.config.align,
                        verticalAlign: app.config.verticalAlign,
                        position: app.config.position,
                        distance: app.config.distance
                    }
                };
                myChart.setOption({
                    series: [{
                        label: labelOption
                    }, {
                        label: labelOption
                    }, {
                        label: labelOption
                    }]
                });
            }
        };


        var labelOption = {
            normal: {
                show: true,
                position: app.config.position,
                distance: app.config.distance,
                align: app.config.align,
                verticalAlign: app.config.verticalAlign,
                rotate: app.config.rotate,
                formatter: '{c}  {name|{a}}',
                fontSize: 16,
                rich: {
                    name: {
                        textBorderColor: '#fff'
                    }
                }
            }
        };

        myChart.setOption({
            title : { text : '医疗卫生机构床位数变化'},
            color: ['#003366', '#006699', '#4cabce'],
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {
                data: ['总计', '城市', '乡村']
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    axisTick: {show: false},
                    data: []
                }
            ],
            yAxis: [

                {
                    type: 'value',
                    show: true
                }
            ],
            series: [
                {
                    name: '总计',
                    type: 'bar',
                    barGap: 0,
                    // label: labelOption,
                    data: []
                },
                {
                    name: '城市',
                    type: 'bar',
                    // label: labelOption,
                    data: []
                },
                {
                    name: '乡村',
                    type: 'bar',
                    // label: labelOption,
                    data: []
                }
            ]
        });
        myChart.showLoading();
        var years = [];
        var sums = [];
        var citys = [];
        var countrysides = [];

        $.ajax({
            type: 'get',
            url: '/getmedicalbedsofyear',
            dataType: "json",
            success: function (result) {
                // 提取数组中的每一个元素的 category 和 num 分别放入 names、nums
                $.each(result, function (index, item) {
                    years.push(item.year);
                    sums.push(item.sum);
                    citys.push(item.city);
                    countrysides.push(item.countryside);
                });

                myChart.hideLoading();
                myChart.setOption({
                    xAxis: {
                        data: years
                    },
                    series: [{
                        data: sums
                    }, {
                        data: citys
                    }, {
                        data: countrysides
                    }
                    ]
                });
            },
            error: function (errorMsg) {
                alert("Data is Error.");
                myChart.hideLoading();
            }
        });
    }
    loadLocalDataAndShow1();
</script>
<script type="text/javascript">
    function loadLocalDataAndShow2() {
        var myChart = echarts.init(document.getElementById('chart2'));

        var name_title = "全国卫生机构床位数对比"
        var subname = ''
        var nameColor = " rgb(55, 75, 113)"
        var name_fontFamily = '等线'
        var subname_fontSize = 15
        var name_fontSize = 30
        var mapName = 'china'


        var geoCoordMap = {};

        var data = [
        ];

        var toolTipData = [

        ];

        /*获取地图数据*/
        myChart.showLoading();
        var mapFeatures = echarts.getMap(mapName).geoJson.features;

        $.ajax({
            type: 'get',
            url: '/getmedicalbedsofarea',
            dataType: "json",
            success: function (result) {
                // 提取数组中的每一个元素的 category 和 num 分别放入 names、nums
                $.each(result, function (index, item) {
                    data.push({name:item.area,value:parseInt(item.sum)});
                    toolTipData.push({name:item.area,value:[{name:"城市",value:parseInt(item.city)},{name:"乡村",value:parseInt(item.countryside)}]});
                });



                myChart.hideLoading();
                mapFeatures.forEach(function(v) {
                    // 地区名称
                    var name = v.properties.name;
                    // 地区经纬度
                    geoCoordMap[name] = v.properties.cp;

                });

                var max = 480,
                    min = 9; // todo
                var maxSize4Pin = 100,
                    minSize4Pin = 20;

                var convertData = function(Data) {
                    var res = [];
                    for (var i = 0; i < Data.length; i++) {
                        var geoCoord = geoCoordMap[Data[i].name];
                        if (geoCoord) {
                            res.push({
                                name: Data[i].name,
                                value: geoCoord.concat(Data[i].value),
                            });
                        }
                    }
                    return res;
                };
                var option = {
                    title: {
                        text: name_title,
                        subtext: subname,
                        x: 'center',
                        textStyle: {
                            color: nameColor,
                            fontFamily: name_fontFamily,
                            fontSize: name_fontSize
                        },
                        subtextStyle:{
                            fontSize:subname_fontSize,
                            fontFamily:name_fontFamily
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: function(params) {
                            if (typeof(params.value)[2] == "undefined") {
                                var toolTiphtml = ''
                                for(var i = 0;i<toolTipData.length;i++){
                                    if(params.name==toolTipData[i].name){
                                        toolTiphtml += toolTipData[i].name+':<br>'
                                        for(var j = 0;j<toolTipData[i].value.length;j++){
                                            toolTiphtml+=toolTipData[i].value[j].name+':'+toolTipData[i].value[j].value+"<br>"
                                        }
                                    }
                                }
                                return toolTiphtml;
                            } else {
                                var toolTiphtml = ''
                                for(var i = 0;i<toolTipData.length;i++){
                                    if(params.name==toolTipData[i].name){
                                        toolTiphtml += toolTipData[i].name+':<br>'
                                        for(var j = 0;j<toolTipData[i].value.length;j++){
                                            toolTiphtml+=toolTipData[i].value[j].name+':'+toolTipData[i].value[j].value+"<br>"
                                        }
                                    }
                                }
                                return toolTiphtml;
                            }
                        }
                    },
                    // legend: {
                    //     orient: 'vertical',
                    //     y: 'bottom',
                    //     x: 'right',
                    //     data: ['credit_pm2.5'],
                    //     textStyle: {
                    //         color: '#fff'
                    //     }
                    // },
                    visualMap: {
                        show: true,
                        min: 0,
                        max: 600000,
                        left: 'left',
                        top: 'bottom',
                        text: ['高', '低'], // 文本，默认为数值文本
                        calculable: true,
                        seriesIndex: [1],
                        inRange: {
                            // color: ['#3B5077', '#031525'] // 蓝黑
                            // color: ['#ffc0cb', '#800080'] // 红紫
                            // color: ['#3C3B3F', '#605C3C'] // 黑绿
                            // color: ['#0f0c29', '#302b63', '#24243e'] // 黑紫黑
                            // color: ['#23074d', '#cc5333'] // 紫红
                            color: ['#00467F', '#A5CC82'] // 蓝绿
                            // color: ['#1488CC', '#2B32B2'] // 浅蓝
                            // color: ['#00467F', '#A5CC82'] // 蓝绿
                            // color: ['#00467F', '#A5CC82'] // 蓝绿
                            // color: ['#00467F', '#A5CC82'] // 蓝绿
                            // color: ['#00467F', '#A5CC82'] // 蓝绿

                        }
                    },
                    /*工具按钮组*/
                    // toolbox: {
                    //     show: true,
                    //     orient: 'vertical',
                    //     left: 'right',
                    //     top: 'center',
                    //     feature: {
                    //         dataView: {
                    //             readOnly: false
                    //         },
                    //         restore: {},
                    //         saveAsImage: {}
                    //     }
                    // },
                    geo: {
                        show: true,
                        map: mapName,
                        label: {
                            normal: {
                                show: false
                            },
                            emphasis: {
                                show: false,
                            }
                        },
                        roam: true,
                        itemStyle: {
                            normal: {
                                areaColor: '#031525',
                                borderColor: '#3B5077',
                            },
                            emphasis: {
                                areaColor: '#2B91B7',
                            }
                        }
                    },
                    series: [{
                        name: '散点',
                        type: 'scatter',
                        coordinateSystem: 'geo',
                        data: convertData(data),
                        symbolSize: function(val) {
                            return val[2] / 60000;
                        },
                        label: {
                            normal: {
                                formatter: '{b}',
                                position: 'right',
                                show: true
                            },
                            emphasis: {
                                show: true
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#05C3F9'
                            }
                        }
                    },
                        {
                            type: 'map',
                            map: mapName,
                            geoIndex: 0,
                            aspectScale: 0.75, //长宽比
                            showLegendSymbol: false, // 存在legend时显示
                            label: {
                                normal: {
                                    show: true
                                },
                                emphasis: {
                                    show: false,
                                    textStyle: {
                                        color: '#fff'
                                    }
                                }
                            },
                            roam: true,
                            itemStyle: {
                                normal: {
                                    areaColor: '#031525',
                                    borderColor: '#3B5077',
                                },
                                emphasis: {
                                    areaColor: '#2B91B7'
                                }
                            },
                            animation: false,
                            data: data
                        },
                        {
                            name: '点',
                            type: 'scatter',
                            coordinateSystem: 'geo',
                            symbol: 'pin', //气泡
                            symbolSize: function(val) {
                                var a = (maxSize4Pin - minSize4Pin) / (max - min);
                                var b = minSize4Pin - a * min;
                                b = maxSize4Pin - a * max;
                                return a * val[2]/3000 + b;
                            },
                            label: {
                                normal: {
                                    formatter: function (obj) {
                                        return obj.data.value[2];
                                    },
                                    show: true,
                                    textStyle: {
                                        color: '#fff',
                                        fontSize: 9,
                                    }
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: '#F62157', //标志颜色
                                }
                            },
                            zlevel: 6,
                            data: convertData(data),
                        },
                        {
                            name: 'Top 5',
                            type: 'effectScatter',
                            coordinateSystem: 'geo',
                            data: convertData(data.sort(function(a, b) {
                                return b.value - a.value;
                            }).slice(0, 5)),
                            symbolSize: function(val) {
                                return val[2] / 40000;
                            },
                            showEffectOn: 'render',
                            rippleEffect: {
                                brushType: 'stroke'
                            },
                            hoverAnimation: true,
                            label: {
                                normal: {
                                    formatter: '{b}',
                                    position: 'right',
                                    show: true
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: 'yellow',
                                    shadowBlur: 10,
                                    shadowColor: 'yellow'
                                }
                            },
                            zlevel: 1
                        },

                    ]
                };
                myChart.setOption(option);
            },
            error: function (errorMsg) {
                myChart.hideLoading();
                alert("Data is Error.");
            }
        });
    }

    loadLocalDataAndShow2();
</script>


</body>
</html>