<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mulching a Agriculture Category Bootstrap Responsive web Template|Gallery :: w3layouts</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Mulching Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
      Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <!-- 设置 Cache -->
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Cache-Control"
          content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Cache" content="no-cache"/>
    <!-- 引入 jquery js -->
    <!-- 引入 echarts js -->
    <script type="text/javascript" src="js/echarts.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!-- font-awesome icons -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!--stylesheets-->
    <link href="css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <!-- Web-Fonts -->
<!--    <link href="//fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">-->
<!--    <link href="//fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900&amp;subset=arabic" rel="stylesheet">-->
    <!-- //Web-Fonts -->

</head>
<body>
<!--headder-->
<div class="header-outs inner_page-banner " id="home">
    <div class="headder-top">
        <!--//navigation section -->
        <!-- nav -->
        <nav >
            <div id="logo">
                <h1><a href="/jump">Health</a></h1>
            </div>
            <label for="drop" class="toggle">Menu</label>
            <input type="checkbox" id="drop">
            <ul class="menu mt-2">
                <li class="active"><a th:href="@{/jump}">主页</a></li>
                <li class="active"><a th:href="@{/datashowResultToEcharts}">在线定制</a></li>
                <!--<li class="mx-lg-3 mx-md-2 my-md-0 my-1"><a href="about.html">About</a></li>-->
                <!--<li><a href="service.html">Services</a></li>-->
                <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
                    <!-- First Tier Drop Down -->
                    <label for="drop-2" class="toggle toogle-2">个人健康水平<span class="fa fa-angle-down" aria-hidden="true"></span>
                    </label>
                    <a href="#">健康 <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-2">
                    <ul>
                        <li><a href="/nutrientintakedatashow" class="drop-text">居民每日营养摄取概况</a></li>
                        <li><a href="/datashowMyPie" class="drop-text">居民营养摄取来源</a></li>
                        <li><a href="/diseasecausesdatashow" class="drop-text">居民主要疾病</a></li>
                    </ul>
                </li>
                <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
                    <!-- First Tier Drop Down -->
                    <label for="drop-3" class="toggle toogle-2">医疗保障 <span class="fa fa-angle-down" aria-hidden="true"></span>
                    </label>
                    <a href="#">医疗保障 <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-3">
                    <ul>
                        <li><a href="/datashowMedicalInstitution" class="drop-text">卫生机构数量</a></li>
                        <li><a href="/medicalexpendituredatashow" class="drop-text">居民医疗支出</a></li>
                        <li><a href="/showdatapatientnum" class="drop-text">居民患者数统计</a></li>
                        <li><a href="/showdatamedicalbeds" class="drop-text">医疗卫生机构床位数统计</a></li>
                    </ul>
                </li>
                <li class="mx-lg-3 mx-md-2 my-md-0 my-1">
                    <!-- First Tier Drop Down -->
                    <label for="drop-4" class="toggle toogle-2">全国健康水平 <span class="fa fa-angle-down" aria-hidden="true"></span>
                    </label>
                    <a href="#">全国健康水平 <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                    <input type="checkbox" id="drop-4">
                    <ul>
                        <li><a href="/datashowExpectedLifeMap" class="drop-text">全国预期寿命</a></li>
                        <li><a href="/datashowPopulation" class="drop-text">人口增长</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/jumplogin}" th:style="'color:white'" th:unless="${session.user}" th:text="'Login / Register'">Login / Register</a>
                    <a th:if="${session.user}" th:style="'color:white'" th:text="${session.user.name}+' Hello!'" th:href="@{/userInfo_info}">Login / Register</a>
                    <a th:href="@{/Logout}" th:if="${session.user}" th:style="'color:white'" th:text="'Log out !'">Login / Register</a>
                </li>
            </ul>
        </nav>
        <!-- //nav -->
    </div>
</div>
<!-- //Navigation -->
<!--//headder-->
<!-- short -->
<div class="using-border py-3">
    <div class="inner_breadcrumb  ml-4">
        <ul class="short_ls">
            <li>
                <a href="/jump">主页</a>
                <span>/ /</span>
            </li>
            <li>居民主要疾病死亡率及构成统计</li>
        </ul>
    </div>
</div>
<!-- //short-->
<!--Gallery-->
<section class="gallery py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3" style="height:500px;padding-left:0px;">
        <div id="chart1"
             style="width: 500px; height: 330px; margin-bottom: 20px;float:left"></div>
        <div id="chart2"
             style="width: 260px; height: 330px; margin-bottom: 20px;float:left;margin-left: 50px;"></div>
        <div id="chart3"
             style="width: 260px; height: 330px; margin-bottom: 20px;float:left;margin-left: 20px;"></div>
    </div>

            <div class="row" style="overflow: hidden;margin: 0;">
                <div class="container-fluid" style="padding:0;margin-left:100px ">
                    <div id="chart4"
                         style="left:0;width: 1000px; height: 900px; margin-bottom: 20px;float:left;margin-left:100px"></div>
                </div>
            </div>



  </section>
<!--//Gallery-->
<!-- footer -->
<footer class="py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <div class="footer-w3layouts-head text-center">
            <h2><a href="index.html">Health</a></h2>
        </div>
        <div class="social-icons mt-lg-5 mt-md-4 mt-3 text-center">
            <ul>
                <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#"><span class="fa fa-rss"></span></a></li>
                <li><a href="#"><span class="fa fa-envelope"></span></a></li>
                <li><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
        </div>
        <div class="bottem-wthree-footer text-center pt-md-4 pt-3">
            <p>
                © 2019 Health. All Rights Reserved | Design by <a href="" target="_blank">Our Team</a>
            </p>
        </div>
        <!-- move icon -->
        <div class="text-center">
            <a href="#home" class="move-top text-center mt-3"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
        </div>
        <!--//move icon -->
    </div>
</footer>
<!--//footer -->
<script type="text/javascript">
    function loadLocalDataAndShow1() {
        var myChart = echarts.init(document.getElementById('chart1'));
        myChart.setOption({
            title : {
                text : '主要疾病构成（合计）'
            },
            tooltip : {
                trigger:'item',//[ default: 'item' ]触发类型。数据项图形触发，主要在散点图，饼图等无类目轴的图表中使用。
                formatter:"{a}<br/>{b}:{c} ({d}%)"
            },
            toolbox: {
                feature: {
                    dataView: {show: true, readOnly: false},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend : {
                top:30,
                orient:'vertical',//图例列表的布局朝向 horizontal/vertical
                x : 'left'	,	// 设置图例显示位置
                data:[],//如果 data 没有被指定，会自动从当前系列中获取。饼图 and 漏斗图 等会取自 series.data 中的 name
                itemgap:10,
                itemWidth:15,
                itemHeight:14,
                selectedMode:'multiple'
            },
            series : [ {
                // 设置成绝对的像素值
                center: [350, 180],//宽度，高度
                name : '疾病：',	// 设置系列的名称，同时是图例的名称
                type : 'pie',		// 设置图标类型
                radius:['50%','70%'],//设置饼状图内外半径
                avoidLabelOverlap:false,//目前不知道有什么用
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data : []
            } ]
            // ,color:['#68EE85', '#444348','#63B6ED','#7787EC']
        });

        myChart.showLoading();
        var category=[];
        var res = [];
        $.ajax({
            type : 'get',
            url:"getTotalDiseaseCauses",
            dataType : "json",
            success : function(result) {
                $.each(result, function(index, item) {
                    res.push({
                        name:result[index].name,
                        value:result[index].proportion
                    });
                    category.push(result[index].name);
                });

                myChart.hideLoading();
                myChart.setOption({
                    legend: {
                        data: category
                    },
                    series: [{
                        data: res
                    }]
                });
            },

            error : function(errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
                myChart.hideLoading();
            }
        });
    };
    loadLocalDataAndShow1();
</script>
<script type="text/javascript">
    function loadLocalDataAndShow3() {
        var myChart = echarts.init(document.getElementById('chart3'));
        myChart.setOption({
            title : {
                text : '主要疾病构成(女性)'
            },
            tooltip : {
                trigger:'item',//[ default: 'item' ]触发类型。数据项图形触发，主要在散点图，饼图等无类目轴的图表中使用。
                formatter:"{a}<br/>{b}:{c} ({d}%)"
            },
            toolbox: {
                feature: {
                    dataView: {show: true, readOnly: false},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend : {
                top:30,
                orient:'vertical',//图例列表的布局朝向 horizontal/vertical
                x : 'left'	,	// 设置图例显示位置
                data:[],//如果 data 没有被指定，会自动从当前系列中获取。饼图 and 漏斗图 等会取自 series.data 中的 name
                itemgap:10,
                itemWidth:15,
                itemHeight:14,
                selectedMode:'multiple'
            },
            series : [ {
                // 设置成绝对的像素值
                center: [120, 150],//宽度，高度
                name : '疾病：',	// 设置系列的名称，同时是图例的名称
                type : 'pie',		// 设置图标类型
                //radius:['20%','70%'],//设置饼状图内外半径
                roseType : 'area',
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data : []
            } ]
            ,color:['#65A085','#C4A199','#7EC9B0','#E47E60','#43A2A9','#D7241F']
        });

        myChart.showLoading();
        var category=[];
        var res = [];
        $.ajax({
            type : 'get',
            url:"getFemaleDiseaseCauses",
            dataType : "json",
            success : function(result) {
                $.each(result, function(index, item) {
                    res.push({
                        name:result[index].name,
                        value:result[index].proportion
                    });
                    category.push(result[index].name);
                });

                myChart.hideLoading();
                myChart.setOption({
                    legend: {
                        show:false,
                        data: category
                    },
                    series: [{
                        data: res
                    }]
                });
            },

            error : function(errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
                myChart.hideLoading();
            }
        });
    };
    loadLocalDataAndShow3();
</script>
<script type="text/javascript">
    function loadLocalDataAndShow2() {
        var myChart = echarts.init(document.getElementById('chart2'));
        myChart.setOption({
            title : {
                text : '主要疾病构成(男性)'
            },
            tooltip : {
                trigger:'item',//[ default: 'item' ]触发类型。数据项图形触发，主要在散点图，饼图等无类目轴的图表中使用。
                formatter:"{a}<br/>{b}:{c} ({d}%)"
            },
            toolbox: {
                feature: {
                    dataView: {show: true, readOnly: false},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend : {
                top:30,
                orient:'vertical',//图例列表的布局朝向 horizontal/vertical
                x : 'left'	,	// 设置图例显示位置
                data:[],//如果 data 没有被指定，会自动从当前系列中获取。饼图 and 漏斗图 等会取自 series.data 中的 name
                itemgap:10,
                itemWidth:15,
                itemHeight:14,
                selectedMode:'multiple'
            },
            series : [ {
                // 设置成绝对的像素值
                center: [120, 150],//宽度，高度
                name : '疾病：',	// 设置系列的名称，同时是图例的名称
                type : 'pie',		// 设置图标类型
              //  radius:['20%','70%'],//设置饼状图内外半径
                roseType : 'area',
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        show: true,
                        textStyle: {
                            fontSize: '30',
                            fontWeight: 'bold'
                        }
                    }
                },
                labelLine: {
                    normal: {
                        show: false
                    }
                },
                data : []
            } ]
        });

        myChart.showLoading();
        var category=[];
        var res = [];
        $.ajax({
            type : 'get',
            url:"getMaleDiseaseCauses",
            dataType : "json",
            success : function(result) {
                $.each(result, function(index, item) {
                    res.push({
                        name:result[index].name,
                        value:result[index].proportion
                    });
                    category.push(result[index].name);
                });

                myChart.hideLoading();
                myChart.setOption({
                    legend: {
                        show:false,
                        data: category
                    },
                    series: [{
                        data: res
                    }]
                });
            },

            error : function(errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
                myChart.hideLoading();
            }
        });
    };
    loadLocalDataAndShow2();
</script>
<script type="text/javascript">
    function loadLocalDataAndShow4() {
        var myChart = echarts.init(document.getElementById('chart4'));
        myChart.setOption({

            grid: {

                //y:
                //y2:
                y2: 80,// y2可以控制 X轴跟Zoom控件之间的间隔，避免以为倾斜后造成 label重叠到zoom上

            },//设置echarts的canvas与外部div块的位置关系
            title: {
                text: '主要疾病死亡率概览(1/10万）',
                left:50
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow',
                }
            },
            toolbox: {
                feature: {
                    restore: {show: true},
                    saveAsImage: {show: true}
                },
                left:400
            },
            legend: {
                data: ['男', '合计', '女'],//如果 data 没有被指定，会自动从当前系列中获取。饼图 and 漏斗图 等会取自 series.data 中的 name
                left:700
            },
            // dataZoom: [{
            //     type: 'inside',
            //     xAxisIndex: 0,
            //     minSpan: 5
            // }],

            dataZoom: [
                {
                    type: 'slider',
                    show: true,
                    handleSize: 8
                },
                {
                    type: 'inside',
                },
                {
                    type: 'slider',
                    show: true,
                    yAxisIndex: 0,
                    filterMode: 'empty',
                    width: 12,
                    height: '70%',
                    handleSize: 8,
                    showDataShadow: false,
                    left: '93%'
                }
            ],
            xAxis:
                {  min:0,
                    max:150,
                    interval:50,
                    type: 'value',
                    left: 0

                },


            yAxis:
                {
                    type: 'category',
                    axisLabel:{
                        interval: 0,//标签设置为全部显示
                        formatter:function(params){
                            var newParamsName = "";// 最终拼接成的字符串
                            var paramsNameNumber = params.length;// 实际标签的个数
                            var provideNumber = 6;// 每行能显示的字的个数
                            var rowNumber = Math.ceil(paramsNameNumber / provideNumber);// 换行的话，需要显示几行，向上取整
                            /**
                             * 判断标签的个数是否大于规定的个数， 如果大于，则进行换行处理 如果不大于，即等于或小于，就返回原标签
                             */
                            // 条件等同于rowNumber>1
                            if (paramsNameNumber > provideNumber) {
                                /** 循环每一行,p表示行 */
                                for (var p = 0; p < rowNumber; p++) {
                                    var tempStr = "";// 表示每一次截取的字符串
                                    var start = p * provideNumber;// 开始截取的位置
                                    var end = start + provideNumber;// 结束截取的位置
                                    // 此处特殊处理最后一行的索引值
                                    if (p == rowNumber - 1) {
                                        // 最后一次不换行
                                        tempStr = params.substring(start, paramsNameNumber);
                                    } else {
                                        // 每一次拼接字符串并换行
                                        tempStr = params.substring(start, end) + "\n";
                                    }
                                    newParamsName += tempStr;// 最终拼成的字符串
                                }

                            } else {
                                // 将旧标签的值赋给新标签
                                newParamsName = params;
                            }
                            //将最终的字符串返回
                            return newParamsName
                        }
                    }


                },

            series: [{
                name: '男',
                type: 'bar',
                data: []
            },

                {
                    name: '合计',
                    type: 'bar',
                    data: []
                },
                {
                    name: '女',
                    type: 'bar',
                    data: []

                }

            ]
        });

        myChart.showLoading();
        var disease = [];
        var male = [];
        var female = [];
        var total = [];
        $.ajax({
            type: 'get',
            url: "getAllDiseaseCauses",
            dataType: "json",
            success: function (result) {
                $.each(result, function (index, item) {

                    if (result[index].type == "男") {
                        // if (result[index].name == "恶性肿瘤") {
                        //     alert(index + result[index].name + result[index].num);
                        // }
                        male.push(
                            result[index].num
                        );
                        disease.push(result[index].name)
                    }
                    if (result[index].type == "女") {
                        // if (result[index].name == "恶性肿瘤") {
                        //     alert(index + result[index].name + result[index].num);
                        // }
                        female.push(
                            result[index].num
                        );
                    }
                    if (result[index].type == "合计") {
                        if (result[index].name == "恶性肿瘤") {
                        }
                        total.push(
                            result[index].num
                        );
                    }

                });

                myChart.hideLoading();
                myChart.setOption({
                    yAxis:
                        {
                            type: 'category',
                            data: disease
                        },
                    series: [
                        {
                            data: male
                        },
                        {data: total}
                        , {data: female}
                    ]
                });
            },


            error: function (errorMsg) {
                //请求失败时执行该函数
                alert("图表请求数据失败!");
                myChart.hideLoading();
            }
        });
    };
    loadLocalDataAndShow4();
</script>
</body>
</html>